.theme-color-9e9e9e a,
.theme-color-9e9e9e blockquote:before,
.theme-color-9e9e9e .contact-map .contact-info a:hover,
.theme-color-9e9e9e .interests-list i,
.theme-color-9e9e9e .input-field.used label,
.theme-color-9e9e9e .logo span,
.theme-color-9e9e9e #map .map-icon,
.theme-color-9e9e9e .nav-wrap .btn-mobile-nav,
.theme-color-9e9e9e .page-404 h2 span,
.theme-color-9e9e9e .post-box .post-title a:hover,
.theme-color-9e9e9e .post-single .post-title a:hover,
.theme-color-9e9e9e .post-comments .section-title,
.theme-color-9e9e9e .ref-box .person-speech:before,
.theme-color-9e9e9e .timeline-box .date,
.theme-color-9e9e9e .widget-title,
.theme-color-9e9e9e .widget_meta ul li a:hover,
.theme-color-9e9e9e .widget_archive ul li a:hover,
.theme-color-9e9e9e .widget_nav_menu ul li a:hover,
.theme-color-9e9e9e .widget_categories ul li a:hover,
.theme-color-9e9e9e .widget_recent_entries ul li a:hover,
.theme-color-9e9e9e .widget_recent_comments ul li a:hover,
.theme-color-9e9e9e .widget_search .search-form:before,
.theme-color-9e9e9e .widget-popuplar-posts .post-title a:hover,
.theme-color-9e9e9e .widget-recent-posts .post-title a:hover {
  color: #9e9e9e; }
.theme-color-9e9e9e ins,
.theme-color-9e9e9e mark,
.theme-color-9e9e9e .btn-primary,
.theme-color-9e9e9e .btn-primary-outer,
.theme-color-9e9e9e .btn-sidebar-close,
.theme-color-9e9e9e .calendar-busy .calendar-body td .current-day,
.theme-color-9e9e9e .calendar-busy .calendar-today .date,
.theme-color-9e9e9e .filter .active:after,
.theme-color-9e9e9e .filter-bar .filter-bar-line,
.theme-color-9e9e9e .input-field .line:before,
.theme-color-9e9e9e .input-field .line:after,
.theme-color-9e9e9e .mobile-nav,
.theme-color-9e9e9e .nav > ul > li > a > span,
.theme-color-9e9e9e .post-datetime,
.theme-color-9e9e9e .profile-social,
.theme-color-9e9e9e .profile-preword span,
.theme-color-9e9e9e .progress-bar .bar-fill,
.theme-color-9e9e9e .progress-bar .bar-line:after,
.theme-color-9e9e9e .price-box.box-primary .btn,
.theme-color-9e9e9e .price-box.box-primary .price-box-top,
.theme-color-9e9e9e .profile-list .button,
.theme-color-9e9e9e .pagination .page-numbers.current,
.theme-color-9e9e9e .pagination .page-numbers.current:hover,
.theme-color-9e9e9e .pagination .page-numbers:active,
.theme-color-9e9e9e .pagination .page-numbers.next:active,
.theme-color-9e9e9e .pagination .page-numbers.prev:active,
.theme-color-9e9e9e .timeline-bar,
.theme-color-9e9e9e .timeline-box .dot,
.theme-color-9e9e9e .timeline-box-compact .date span,
.theme-color-9e9e9e .widget_tag_cloud a:hover {
  background-color: #9e9e9e; }
.theme-color-9e9e9e .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.theme-color-9e9e9e .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #9e9e9e; }
.theme-color-9e9e9e .timeline-box-inner,
.theme-color-9e9e9e .price-box.box-primary .btn,
.theme-color-9e9e9e .widget_search .search-form,
.theme-color-9e9e9e .widget_tag_cloud a:hover {
  border-color: #9e9e9e; }
.theme-color-9e9e9e .page-404 h2 span:before,
.theme-color-9e9e9e .profile-preword span:before,
.theme-color-9e9e9e .timeline-box-compact .date span:before {
  border-left-color: #9e9e9e; }
.theme-color-9e9e9e .price-box.box-primary .price-box-top:before {
  border-top-color: #9e9e9e; }
